$dark-grey: #333745;
$dark-grey-contrast-dark: #232731;
$dark-grey-contrast-light: #727680;
$blue: #77C4D3;
$green: #38bf83;

$main-bg: $dark-grey;
$main-color: $dark-grey-contrast-light;

$typeahead-main-bg: $dark-grey-contrast-dark;
$typeahead-main-color: $blue;
$typeahead-border-color: transparent;

$range-slider-fill-color:          $dark-grey;
$range-slider-bg-color:            $dark-grey-contrast-dark;
$range-slider-handle-bg-color:     $blue;
$range-slider-handle-border-color: transparent;

$spotify-track-progress-bg: $green;
$spotify-track-details-color: $blue;