$inuit-enable-btn--small:   true;
$inuit-enable-btn--large:   true;
$inuit-enable-btn--pill:    true;

$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-radius:          3px;