$inuit-enable-layout--tiny:     true;
$inuit-enable-layout--small:    true;
$inuit-enable-layout--large:    true;
$inuit-enable-layout--huge:     true;
$inuit-enable-layout--flush:    true;
$inuit-enable-layout--rev:      true;
$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--right:    true;
$inuit-enable-layout--center:   true;
$inuit-enable-layout--auto:     true;