$inuit-enable-btn--small:   true;
$inuit-enable-btn--large:   true;
$inuit-enable-btn--pill:    true;

$inuit-btn-background:      #E74C3C;
$inuit-btn-color:           #fff;
$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    $inuit-btn-background;
$inuit-btn-radius:          3px;