$inuit-enable-media--tiny:          true;
$inuit-enable-media--small:         true;
$inuit-enable-media--large:         true;
$inuit-enable-media--huge:          true;
$inuit-enable-media--rev:           true;
$inuit-enable-media--flush:         true;
$inuit-enable-media--responsive:    true;