$body-bg-color: #fdfdfd;
$dark-grey: #333745;
$dark-grey-contrast-dark: #232731;
$dark-grey-contrast-light: #727680;
$orange: #f5614c;
$green: #38bf83;

$main-bg: white;
$main-color: $dark-grey-contrast-light;

$range-slider-fill-color: $orange;
$range-slider-bg-color:            rgba(35, 39, 49, 0.05);
$range-slider-handle-bg-color: $orange;
$range-slider-handle-border-color: transparent;

$spotify-track-progress-bg: white;
$spotify-track-details-color: #a2a2a2;

$inuit-btn-background:      #565656;
$inuit-btn-border-color:    #565656;
$inuit-btn-color:           #fff;

$droppable-border-color: $orange;