html {
  background: $main-bg;
  color: $main-color;
}

body {
  background: $body-bg-color;
}

input[type="text"] {
  -webkit-appearance: none;
  font-size: 16px;
}

a {
  color: $main-color;
}

h2 {
  font-weight: 100;
}
