.modal {
  position: fixed;
  top: 0px; left: 0px; right:0px; bottom:0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* horizontal for default flow*/
  align-items: center; /* vertical for default flow */
  background: rgba(black, 0.5);
  z-index: 1;
  overflow-y: scroll;
}
.modal__content {
  width: 600px;
  position: relative;
  align-self: stretch;
  margin: 55px 0;
}
.modal__mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal__bottom-spacer {
  height: 100px;
}