.list-hover {
  cursor: pointer;
}

.list-hover-main {
  >li:hover {
    background: rgba($orange,0.2);
  }
}

.list-hover-light {
  >li:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.list-short {
  overflow-y: scroll;
  max-height: 300px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.list-item__success {
  background: #daf1da;
  color: #56a956;
}