.master-detail {
  display: flex;
  align-content: stretch;
  flex-direction: row;
}
.master-detail__sidebar {
  background: white;
  flex: 1;
}
.master-detail__body {
  background: #f1f1f1;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  flex: 2;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

.master-detail__sidebar,
.master-detail__body {
  min-height: 500px;
}