$typeahead-main-bg: #333745 !default;
$typeahead-main-color: #77C4D3 !default;
$typeahead-border-radius: 4px 4px 0 0 !default;
$typeahead-border-color: #727b9c !default;


.typeahead {
  position: relative;
}

.typeahead__results {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  max-height: 75vh;
  overflow-y: scroll;
  border-top: none;
  @include media-query(palm) {
    max-height: 50vh;
  }
}

.typeahead__input {
  position: relative;
  z-index: 1;
  border-color: $typeahead-border-color;
  border-width: 1px;
  border-style: solid;
}

.typeahead__close-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.typeahead--main {

  .typeahead__input {
    background: $typeahead-main-bg;
    padding: 6px;
    color: $typeahead-main-color;
    outline: none !important;
    border-radius: $typeahead-border-radius;
  }

  .typeahead__results {
    background: darken($typeahead-main-bg, 5%);
    border-top: none !important;
    border-color: $typeahead-border-color;
    border-width: 1px;
    border-style: solid;
  }

  .typeahead__result {
    padding: 3px;
    &.typeahead__result--active {
      background: rgba(white, 0.1);
      cursor: pointer;
    }
  }

  &.typeahead--has-results {
    .typeahead__input {
      border-radius: $typeahead-border-radius $typeahead-border-radius 0 0;
    }

    .typeahead__results {
      border-radius: 0 0 $typeahead-border-radius $typeahead-border-radius;
      color: $typeahead-main-color;
    }

  }

}