$spotify-track-progress-bg: red !default;
$spotify-track-details-color: red !default;
$spotify-details-transition-duration: 250ms;

.spotify-track {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  &:hover {
    .spotify-track__progress {
      bottom: 0px;
    }
  }
}

.spotify-track__progress {
  @extend .progress-bar;
  position: absolute;
  bottom: -30px;
  z-index: 1;
  @include vendor(transition, all $spotify-details-transition-duration ease);
}

.spotify-track__progress-bar {
  @extend .progress-bar__progress;
}

.spotify-track__title {
  line-height: 1.3;
  margin-bottom: -3px;
  position: relative;
}

.spotify-track__details {
  display: block;
  @include vendor(transition, opacity $spotify-details-transition-duration ease);
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px;
  font-size: 11px;
  a, & {
    color: $spotify-track-details-color;
  }
}

.spotify-track:hover .spotify-track__details,
.spotify-track:hover .spotify-track__more {
  opacity: 1;
}

.spotify-track__more {
  opacity: 0;
  @include vendor(transition, opacity $spotify-details-transition-duration ease);
  color: black;
  position: absolute;
  right: 3px;
  bottom: 12px;
  background: white;
  padding: 0px 7px;
  line-height: 0;
  border-radius: 10px;
  cursor: pointer;
}

.spotify-track-preview-palm__player-icon {
  font-size: 195px;
  position: absolute;
  width: 100%;
  color: white;
  i {
    background: rgba(black, 0.65);
    color: rgba(white, 0.55);
    border-radius: 100px;
    padding: 5px;
  }
}

.spotify-track--main {
  .spotify-track__details {
    position: absolute;
    opacity: 0;
  }
}