$spotify-track-progress-bg: red !default;

.spotify-track {
  overflow: hidden;
  position: relative;
  &:hover {
    .spotify-track__progress {
      bottom: 0px;
    }
  }
}

.spotify-track__progress {
  height: 5px;
  width: 100%;
  background: rgba(black, 0.5);
  position: absolute;
  bottom: -30px;
  z-index: 1;
  @include vendor(transition, all 300ms ease);
}

.spotify-track__progress-bar {
  position: absolute;
  height: 100%;
  background: $spotify-track-progress-bg;
}

.spotify-track__img {
  opacity: 0;
  @include vendor(transition, opacity 500ms ease);
}

.spotify-track__img--loaded {
  opacity: 1;
}