$rangeslider-handle-size-desk:     20px;
$rangeslider-handle-size-palm:     20px;
$rangeslider-height:               26px;
$range-slider-fill-color:          green    !default;
$range-slider-bg-color:            blue     !default;
$range-slider-handle-bg-color:     red      !default;
$range-slider-handle-border-color: purple   !default;

.rangeslider {
  height: $rangeslider-height;
  border-radius: $rangeslider-height/2;
  margin: 3px 0 20px 0;
  position: relative;
  background: $range-slider-bg-color;
  padding: 0 10px;
}

.rangeslider,
.rangeslider__fill {
  display: block;
}

.rangeslider__fill,
.rangeslider__handle {
  position: absolute;
}

.rangeslider__fill {
  height: 30%;
  background: $range-slider-fill-color;
  top: 35%;
  border-radius: 10px;
}

.rangeslider__handle {
  background-color: $range-slider-handle-bg-color;
  background-image: url('/static/img/range_slider_handle.svg');
  border: 1px solid $range-slider-handle-border-color;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: $rangeslider-handle-size-desk;
  height: $rangeslider-handle-size-desk;
  top: 2px;
  border-radius: $rangeslider-handle-size-desk/2;
  @include vendor(user-select, none);
  &:hover,
  &:active {
    background-color: darken($range-slider-handle-bg-color, 10%);
  }
  &:active {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  @include media-query(palm) {
    top: 3px;
    width: $rangeslider-handle-size-palm,;
    height: $rangeslider-handle-size-palm;
    border-radius: $rangeslider-handle-size-palm/2;
  }
}

.rangeslider--disabled {
  .rangeslider__fill {
    background: transparent;
  }
  .rangeslider__handle {
    background-color: #f4f4f4;
    box-shadow: none;
    border-color: #E2E2E2;
  }
}
