.bg-black {
  background: black;
}

.bg-light-grey {
  background: #eaeaea;
}

.bg-lightest-grey {
  background: #f7f7f7;
}

.bg-white {
  background: white;
}

.bg-orange {
  background: $orange;
  color: white;
}

.bg-hero-home {
  background-image: url('/static/img/home-hero_01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  @include media-query(desk) {
    background-size: cover;
  }
}