.block {
  display: block;
}

.ib {
  display: inline-block;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.center {
  margin: 0 auto;
}

.float-right {
  float: right;
}

.full-page {
  height: 100vh;
}

.rotate-vertical-palm {
  @include media-query(palm) {
    @include vendor(transform, rotateZ(90deg));
  }
}

@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: $i/10;
  }
}

.text-truncate {
  @include text-truncate;
}

.droppable {
  border: 1px dashed transparent;
}

.droppable--hover {
  border-color: $droppable-border-color;
  color: $droppable-border-color;
}