.bg-black {
  background: black;
}

.bg-white {
  background: white;
}

.bg-orange {
  background: $orange;
  color: white;
}

.bg-hero-home {
  background-image: url('/static/img/home-hero_01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}