.ib {
  display: inline-block;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.float-right {
  float: right;
}

.rotate-vertical-palm {
  @include media-query(palm) {
    @include vendor(transform, rotateZ(90deg));
  }
}

@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: $i/10;
  }
}

.text-truncate {
  @include text-truncate;
}