@import "01-settings.inuit-defaults";
@import "01-settings.inuit-buttons";
@import "01-settings.inuit-spacing";
@import "01-settings.inuit-layout";
@import "01-settings.inuit-media";
@import "01-settings.inuit-widths";
@import "01-settings.colors";

@import "jspm:inuit-defaults/settings.defaults";
@import "jspm:inuit-responsive-settings/settings.responsive";
@import 'jspm:inuit-functions/tools.functions';
@import 'jspm:inuit-tools-widths/tools.widths';
@import 'jspm:inuit-responsive-tools/tools.responsive';
@import 'jspm:inuit-mixins/tools.mixins';

@import "02-tools.mixins";

@import 'jspm:inuit-normalize/generic.normalize';
@import 'jspm:inuit-box-sizing/generic.box-sizing';
@import 'jspm:inuit-page/base.page';



@import "04-elements.page";

@import 'jspm:inuit-buttons/objects.buttons';
@import 'jspm:inuit-layout/objects.layout';
@import 'jspm:inuit-list-bare/objects.list-bare';
@import 'jspm:inuit-media/objects.media';

@import "jspm:inuit-spacing/_trumps.spacing";
@import "jspm:inuit-responsive-spacing/_trumps.spacing-responsive";
@import "jspm:inuit-widths/trumps.widths";
@import "jspm:inuit-responsive-widths/trumps.widths-responsive";
@import "jspm:inuit-clearfix/trumps.clearfix";

@import "05-objects.animations";
@import "05-objects.icons";
@import "05-objects.img-loader";
@import "05-objects.lists";
@import "05-objects.loader";
@import "05-objects.master-detail";
@import "05-objects.modal";
@import "05-objects.progress-bars";
@import "05-objects.sections";

@import "06-components.drawer";
@import "06-components.intial-screen";
@import "06-components.range-slider";
@import "06-components.spotify-track";
@import "06-components.typeahead";
@import "06-components.waypoint";

@import "07-trumps.bgs";
@import "07-trumps.display";
@import "07-trumps.text";
@import "07-trumps.widths";

.logo-outlined {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  max-width: 70px;
}